@using ForestBookstore.Models;
@model ShoppingCartBookViewModel
<h2>Shopping Cart</h2>
@section scripts {
    <link href="@Url.Content("~/Content/Styles/shopping-cart.css")" rel="stylesheet" type="text/css" />
}

@{

    if (this.Model.Books.Count == 0)
    {
        @:No books added in the Shopping Cart.
    }
    else
    {
        decimal total = 0;
        <div class="table-responsive shopping-cart">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Count</th>
                    <th>Price</th>
                </tr>
                @foreach (var book in this.Model.Books)
                {
                    <tr>
                        <td>@book.Book.Name</td>
                        <td>@book.Count</td>
                        @{decimal currBookTotalPrice = book.Count * Math.Round(book.Book.Price, 2);}
                        <td>@currBookTotalPrice</td>
                        @{total += book.Count * Math.Round(book.Book.Price, 2);}
                        <td>@using (Html.BeginForm("Delete", "ShoppingCart"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", book.BookId)
                            <input class="btn btn-sm btn-warning"
                                   type="submit" value="Delete" />
                        }</td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total Price: @total</td>
                </tr>
            </table>
        </div>
        <input type="submit" value="Check Out" />
      }
}
