@model ForestBookstore.Models.ShoppingCartBookViewModel

<h2>Shopping Cart</h2>
@section scripts {
    <link href="@Url.Content("~/Content/Styles/shopping-cart.css")" rel="stylesheet" type="text/css" />
}

@{
    if (Model.Books.Count == 0)
    {
        @:No books added in the Shopping Cart.
    }
    else
    {
        decimal total = 0;
        <div class= "shopping-cart">
            <table class="table">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Count</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td>
                            @if (book.Book.Image != null)
                            {
                                <img alt="Book Cover" src="@Url.Content("/Books/BookImage?id=" + book.Book.Id)" />
                            }
                        </td>
                        <td><b>@book.Book.Name</b> by <i>@book.Book.Author.Name</i></td>
                        <td>
                             <!--
                            @using (Ajax.BeginForm("UpBookCount", "ShoppingCart", new { bookId = @book.BookId },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "" + @book.BookId,
                                    }, new { @class = "" }))
                            {
                                <button type="submit" class="btn btn-default" style="display: inline">&#8657</button>
                            }
                                 -->

                            <label id="@book.BookId" style="text-align:center">@book.Count</label>
                            <!--
                            @using (Ajax.BeginForm("DownBookCount", "ShoppingCart", new { bookId = @book.BookId },
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "" + @book.BookId,
                            }, new { @class = "" }))
                            {
                                <button type="submit" class="btn btn-default" style="display: inline" value="&#8659">&#8659</button>
                            }
                            -->
                        </td>
                        @{
                            decimal currBookTotalPrice = book.Count * Math.Round(book.Book.Price, 2);
                            }
                        <td>@currBookTotalPrice BGN</td>
                        @{total += book.Count * Math.Round(book.Book.Price, 2);}
                        <td>@using (Html.BeginForm("Delete", "ShoppingCart"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", book.BookId)
                            <input class="btn btn-sm btn-warning"
                                   type="submit" value="Delete" />
                        }</td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total Price: @total BGN</td>
                    <td></td>
                </tr>
            </table>
            <input class="btn btn-sm btn-warning"
                   type="submit" value="Proceed" onclick="location.href='@Url.Action("Checkout", "ShoppingCart")'" />
        </div>
        
      }
}