@model ForestBookstore.Models.ShipmentViewModel

@section scripts {
    <link href="@Url.Content("~/Content/Styles/shopping-cart.css")" rel="stylesheet" type="text/css" />
}

<h2>Summary</h2>

@{

    <h3>Shipment Details</h3>
    using (Html.BeginForm("Completed", "ShoppingCart", FormMethod.Post))
    {
        <dl>
            <dt>@Html.Label("Person Name")</dt>
            <dd>@Model.Details.PersonName</dd>
            <dt>@Html.LabelFor(model => model.Details.Town)</dt>
            <dd>@Model.Details.Town</dd>
            <dt>@Html.LabelFor(model => model.Details.Address)</dt>
            <dd>@Model.Details.Address</dd>
            <dt>@Html.LabelFor(model => model.Details.Phone)</dt>
            <dd>@Model.Details.Phone</dd>
        </dl>
    }
        <h3>Items</h3>
    int counter = 0;
    decimal totalPrice = 0;
    <div class="shopping-cart">
        <table class="table">
            <tr>
                <th>№</th>
                <th>Title</th>
                <th>Price</th>
                <th>Count</th>
                <th>Total</th>
            </tr>

            @foreach (var book in Model.Cart.Books)
            {
                <tr>
                    @{counter++;}
                    <td>@counter</td>
                    <td>@book.Book.Name by @book.Book.Author.Name</td>
                    <td>@Math.Round(book.Book.Price, 2) BGN</td>
                    <td>@book.Count</td>
                    <td>@Math.Round((book.Count * book.Book.Price), 2) BGN</td>
                    @{totalPrice += book.Count * book.Book.Price;}
                </tr>
                        }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Overall: @Math.Round(totalPrice, 2) BGN</td>
            </tr>
        </table>
    </div>

    <form method="post" action="/ShoppingCart/Completed">
        <input type="submit" class="btn btn-sm btn-warning"
               value="Place Order" />
    </form>
}