<header class="top-bar">  
    <section id="logo-and-search">
        <div id="logo-container">
            <img src="~/Content/Images/ColofulLogo.png" alt="Forest Bookstore logo">
        </div>
        <!-- SEARCH BAR -->
        <div id="search-box">

            @using (Html.BeginForm("Index", "Books", FormMethod.Get))
            {
                <div style="display: inline; float: left">
                    @Html.TextBox("SearchString", null, new { id = "text-box", size = "55" })
                    <br>
                    @Html.RadioButton("searchBy", "Name", true)

                    @Html.Label("Book Title", null, new { style = "font-weight:lighter" })
        
                    @Html.RadioButton("searchBy", "Author")

                    @Html.Label("Author", null, new { style = "font-weight:lighter" })
                </div>
                <div style="display: inline; float: right">
                    <input type="submit" value="Search" id="search-button" />
                </div>
            }
        </div>
    </section>
</header>