@model System.Collections.Generic.IEnumerable<ForestBookstore.Models.DbContext.Book>
@using ForestBookstore.Models.DbContext;

@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table" id="indexTable">

    @foreach (var item in Model)
    {
        <tr>
            <td rowspan="2">
                @if (item.Image != null)
                {
                    <img alt="Book Cover" src="@Url.Content("/Books/BookImage?id=" + item.Id)" />
                }
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Name)</b>
            </td>
            <td colspan="2">
                @Utils.CutText(item.Description, 200)@Html.ActionLink("See more", "Details", new { id = item.Id })
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @:|
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                }
            </td>
        </tr>
        <tr>
            <td>
                <i>by</i> @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                <b>@Html.DisplayNameFor(model => model.Price):</b>
                @Html.DisplayFor(modelItem => item.Price) BGN
            </td>
            <td>
                @if (item.CurrentCount > 5)
                {
                    @: In stock
                }
                else if (item.CurrentCount > 0 && item.CurrentCount <= 5)
                {
                    @: Low stock
                }
                else
                {
                    @: Out of stock
                }
                @*@Html.DisplayFor(modelItem => item.CurrentCount)*@
            </td>
            <td>
                <a class="btn btn-default" href="">Order >></a>
            </td>
        </tr>
    }
</table>
