@using System.Web.UI.WebControls
@using ForestBookstore.Classes
@{
    ViewBag.Title = "Home Page";
}

<script>
    function testNotifyJs(){
        $(".testclass").notify("Access granted", "success");
    }
</script>

<h3 class="bookSectionHeader">New releases</h3>
<div class="row">
    @foreach (var item in ViewBag.NewReleases)
    {
        <div class="col-md-4">
            <h3>@Utils.CutText(item.Name, 52)</h3>
            <h4><i>by </i>@item.Author.Name</h4>
            <p>
                @if (item.Image != null)
                {
                    <img alt="Book Cover" id="frontPageBookImage" src="@Url.Content("/Books/BookImage?id=" + item.Id)"/>
                }
                @Utils.CutText(item.Description, 120);
            </p>
            <p>
                <a class="btn btn-default" href="@Url.Content("/Books/Details/?id=" + item.Id)">Learn more &raquo;</a>
            </p>
        </div>
    }
</div>

<h3 class="bookSectionHeader">Best sellers</h3>
<div class="row">
    @foreach (var item in ViewBag.BestSellers)
    {
        <div class="col-md-4">
            <h3>@Utils.CutText(item.Name, 52)</h3>
            <h4><i>by </i>@item.Author.Name</h4>
            <p>
                @if (item.Image != null)
                {
                    <img alt="Book Cover" id="frontPageBookImage" src="@Url.Content("/Books/BookImage?id=" + item.Id)" />
                }
                @Utils.CutText(item.Description, 120);
            </p>
            <p>
                <a class="btn btn-default" href="@Url.Content("/Books/Details/?id=" + item.Id)">Learn more &raquo;</a>
            </p>
        </div>
    }
</div>