@model ForestBookstore.DataLayer.Models.Review

@{
    ViewBag.Title = "Create";
}

<div>
    <p>
        @if (ViewBag.BookUnderReview.Image != null)
        {
            <img id="detailsViewBookImage" alt="Book Cover" src="@Url.Content("/Books/BookImage?id=" + ViewBag.BookUnderReview.Id)" />
        }
    </p>
    <h3>Review for @ViewBag.BookUnderReview.Name</h3>
    <h4><i>by</i> @ViewBag.BookUnderReview.Author.Name</h4>
    <p><i>@ViewBag.Categories</i></p>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
                @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-20">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
