@using ForestBookstore.Models.DbContext
@model ForestBookstore.Models.DbContext.Category

@{
    ViewBag.Title = "Details";
}

@section scripts {
    <link href="@Url.Content("~/Content/Styles/shopping-cart.css")" rel="stylesheet" type="text/css" />
}

<h2>Details</h2>

<hr/>
<div class="shopping-cart">
    <table class="table">
        <tr>
            @if (Model.Name == "Bestsellers")
            {
                <th>Best selling books</th>
            }
            else if (Model.Name == "New Releases")
            {
                <th>New release books</th>
            }
            else
            {
                <th>@Model.Name books</th>
            }

        </tr>
        @if (ViewBag.BookList.Count > 0)
        {
            foreach (var book in ViewBag.BookList)
            {
                <tr>
                    <td>@book.Name <i> by </i>@book.Author.Name</td>
                </tr>
            }
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
