@model ForestBookstore.Models.DbContext.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h4>Category</h4>
<hr />
<table class="table">
    <tr>
        <th>@Html.DisplayFor(model => model.Name)</th>
    </tr>
    @if (ViewBag.BookList.Count > 0)
    {
        foreach (var book in ViewBag.BookList)
        {
            <tr>
                <td>@book.Name <i> by </i>@book.Author.Name</td>
            </tr>
        }
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
