@using System.Activities
@using System.ComponentModel.DataAnnotations
@model IEnumerable<ForestBookstore.Models.DbContext.Category>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <link href="@Url.Content("~/Content/Styles/shopping-cart.css")" rel="stylesheet" type="text/css" />
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New Category", "Create")
</p>

<div class="shopping-cart">
    <table class="table">
        <tr>
            <th>
                Category
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }
    </table>
</div>